<ion-view title="Custom Package">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list" ng-controller="customPackageCtrl">
            <label class="item item-input">
                <input type="text" placeholder="Weight (lbs)">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Height (in)">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Width (in)">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Length (in)">
            </label>

          <a ui-sref="schedulePickup" class="button button-royal button-outline button-block " >Continue to Pickup Options</a>
        </form>
    </ion-content>
</ion-view>
