<ion-view title="Dashboard">
    <ion-content overflow-scroll="true" padding="true" class="has-header has-footer">
        <h5>Your scheduled pickups</h5>
        <div class="list card">
            <div class="item item-divider">John Doe, Atlanta GA</div>
            <div class="item item-body">
                <div>
                    <p>
                        Custom Item:
                        <b>(3 x 5 x 10)</b>
                    </p>
                    <p>
                        Pickup time:
                        <b>7th March 2016 between 02:00 PM - 04:00 PM</b>
                    </p>
                </div>
            </div>
            <div class="item item-divider">Picked up and In-tansit</div>
        </div>
        <a ui-sref="purple.selectDestination" class="button button-royal button-outline button-block ">Want to schedule a new pickup?</a>
    </ion-content>
</ion-view>