<ion-view title="Delivery Options">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <input type="text" placeholder="Declare Value">
            </label>
            <ion-item class="item-thumbnail-left">
                <img src="img/rSQLFqxmTwmli13bIwG8_fedex.jpeg">
                <h2>$84.45</h2>
                <p>Fri Mar 2016 by 08:00 AM</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/qhJ5uX7SUSLx4SqXGsTi_fedex.jpeg">
                <h2>$52.85</h2>
                <p>Fri Mar 2016 by 10:00 AM</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/0tWZasR6QEuZwWai7Asw_2000px-FedEx_Ground.png">
                <h2>$21.67</h2>
                <p>1 Business Day</p>
            </ion-item>
        </form>
        <a ui-sref="payment" class="button button-royal button-outline button-block ">Continue to Payment</a>
    </ion-content>
</ion-view>