<ion-view title="Final Review">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h1></h1>
        <form class="list">
            <div class="list card">
                <div class="item item-divider">Summary</div>
                <div class="item item-body">
                    <div>
                        <p>Item is
                            <strong>custom packaged</strong>
                        </p>

                        <p>Recipient is
                            <strong>John Doe</strong>
                        </p>

                        <p>Schedule Pickup time is
                            <strong>Thu Mar 2016 between 08:00AM - 10:00AM</strong>
                        </p>

                        <p>Package will be delivery by
                            <strong>Fri March 2016 by 08:00AM</strong>
                        </p>

                        <p>Total cost to you is
                            <strong>$34.99</strong>
                        </p>
                    </div>
                </div>
            </div>
        </form>
        <button class="button button-royal button-outline button-block ">Submit Order</button>
    </ion-content>
</ion-view>