<ion-view title="Login">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <input type="text" placeholder="Username">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Password">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="purple.dashboard" class="button button-royal button-outline button-block ">Log in</a>
            <a ui-sref="purple.signup" class="button button-royal button-clear button-block ">Or create an account</a>
        </form>
    </ion-content>
</ion-view>