<ion-view title="">
    <ion-content overflow-scroll="true" padding="true" scroll="false">
        <div style="text-align:center;">
            <img src="img/aE2R3Io8R1SuFSD6cyHR_pickup.jpg" width="100%" height="auto">
        </div>
        <div>
            <p>Shipping made
                <strong>easy</strong>. No hassle in packing and driving to a courier store to drop. Now you can schedule pickup on your phone and deliver your stuff on time.</p>
        </div>
        <button class="button button-positive button-block ">Connect with Facebook</button>
        <div class="button-bar">
            <a ui-sref="purple.signup" class="button button-royal button-outline button-block  button-full">Sign up</a>
            <a ui-sref="purple.login" class="button button-royal button-outline button-block ">Login</a>
        </div>
    </ion-content>
</ion-view>