<ion-view title="Payment">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h5>Estimated cost $34.99</h5>
        <form class="list">
            <label class="item item-input">
                <input type="text" placeholder="Credit Card">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Expiration Date MM/YYYY">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="CVV">
            </label>
        </form>
        <h5>Or Pay with your finger print</h5>
        <div style="text-align:center;">
            <img src="img/XxPDyPxQyqvau2yJJk76_Asus-ZenFone-3-to-feature-fingerprint-scanner.jpg" width="50%" height="auto">
        </div>
        <a ui-sref="finalReview" class="button button-royal button-outline button-block ">Review</a>
    </ion-content>
</ion-view>