/* Custom Classes */
/* .view-container		{ margin-top: -20px; } */
Style  {
  color: #2E2AA1 !important;
}

.loginForminput {  font-size: 17px; border-radius:4px; border-color: #2e2aa1;margin-bottom: 15px; }
.loginlogo{margin-top: 2%; display: block;
  margin-left: auto;
  margin-right: auto;}

.nopadding {
  padding: 0px !important;
}
.button.button-positive { border-color: #2e2aa1; background-color: #2e2aa1; color: #fff; }
.personalHeading  	{ width: 100%; heigth:35%; padding: 10px 0px; background: #2e2aa1; color:#ffffff; text-align: center; font-size:25px;  }
.personalBox      	{ font-size: 17px; border-radius:4px; border-color: #2e2aa1; }
.personalForminput  {  font-size: 17px; border-radius:4px; border-color: #2e2aa1;margin-bottom: 15px; }

.formLayout {
  background: rgba(255, 255, 255, 0.8);
  padding: 18px;
  border-radius: 10px;
  margin-top: 25px;
}

.sectionHeading {
  color: #2e2aa1;
  font-size: 20px;
  padding: 10px 0px 10px 0px;
}
.list               {   text-align: left; }
.list-inset         { border: 1px solid #2E2AA1; border-radius: 3px; }

.item-input {
  padding: 6px 0 3px 16px;
  border-bottom: 2px solid #2E2AA1 !important;
}
.card .item:last-child  { border-bottom: 0px !important; }
.button-theme       { background: #2e2aa1; color: white; font-size: 17px; border-radius: 5px; margin: 0px; }
.button-theme:hover, .button-theme:focus, .button-theme:active { background: #2e2aa1; color: white; font-size: 17px; border-radius: 5px; }
.menu-item          { background-color: #fff; position: relative; z-index: 2; display: block; margin: 0px; padding: 5px 16px; color: #9a9999; font-size: 14px; text-decoration: none; border-color: #fff; border-width: 0px; }
.profileHead        { height: 175px !important; }
.menuProfileHead    { top: 175px !important; }
.menu_top           { background: url("../img/nav_background.png") no-repeat; background-size: cover; padding: 15px 10px; color: white; }
.menu_top img       { width: 85px; border-radius: 50px; margin-top: 15px; }

.username {
  font-size: 18px;
  margin: 0px;
}
.useremail          { font-size: 14px; margin: 0px; }

.selectStyle {
  width: 99%;
  border: #fff;
  padding: 7px 0px;
  color: #AAA !important;
  background: transparent !important;
}
.previous_div       { padding: 0px 6px 0px 0px; }
.next_div           { padding: 0px 0px 0px 6px; }
.item-thumbnail-left, .item-thumbnail-left .item-content { padding-top: 8px; padding-left: 116px; min-height: 100px; margin-top: 10px;}
.item-thumbnail-left > img:first-child, .item-thumbnail-left .item-image, .item-thumbnail-left .item-content > img:first-child, .item-thumbnail-left .item-content .item-image { position: absolute; top: 0px; left: 0px; max-width: 100px; max-height: 100px; width: 100%; height: 100%;}

.singleService {
  border-right: 20px solid #2E2AA1;
  border-top: 0px;
  border-bottom: 0px;
  background-color: rgba(255, 255, 255, 0.9);
}

.input-label, input[type="date"] {
  color: #2E2AA1;
}
.range input        { margin-top: 0px; margin-bottom: 0px; }
.helpClass          { padding: 0px !important; color: #2e2aa1; }
#logo-wrapper       { text-align: center; margin: 40px auto !important; }
.border_bottom_input{ border-bottom: 1px solid #2E2AA1 !important;}

.btnAccount .title {
  color: white;
  font-size: 16px !important;
  text-align: center !important;
  padding: 0px !important;
  margin: 0px;
  font-weight: 400;
}

.btnAccount .title a {
  color: #FFFFFF;
  text-decoration: underline;
}

.item-divider a 	{ color: #222 !important; font-weight: 500 !important; text-decoration: none !important; }

.bgWhite {
  background-color: rgba(255, 255, 255, 0.8) !important;
}

.availableServices h2 {
  margin: 2px 0 2px 0;
}

.textareaAddtional {
  width: 100%;
  padding: 5px;
  border: 1px solid #2E2AA1;
  border-bottom: 1px solid #2E2AA1 !important;
  border-top: 1px solid #2E2AA1 !important;
  margin: 1px;
  border-radius: 3px;
  color: #2E2AA1;
  border-right: 1px solid #2E2AA1 !important;
  border-left: 1px solid #2E2AA1 !important;
}

.ng-binding {
  color: #000 !important;
}

.profileHead .ng-binding {
  color: #fff !important;
}

.secHeading {
  background-color: rgba(255, 255, 255, 0.8) !important;
  color: #2e2aa1;
  font-size: 20px;
  padding: 15px;
}

.item-icon-left .icon-accessory, .item-icon-right .icon-accessory {
  color: #2E2AA1;
  font-size: 20px;
}
.tabs-background-assertive .tabs, .tabs-background-assertive > .tabs {
  background-color: #DB5A6E;
  border-color: #DB5A6E;
}

.menu-left .scroll-content {
  background: none !important;
}

.availableServices .item {
}

input::-webkit-input-placeholder {
  color: #2E2AA1;
}
input:focus::-webkit-input-placeholder {
  color: #2E2AA1;
}

/* Firefox < 19 */
input:-moz-placeholder {
  color: #2E2AA1;
}
input:focus:-moz-placeholder {
  color: #2E2AA1;
}

/* Firefox > 19 */
input::-moz-placeholder {
  color: #2E2AA1;
}
input:focus::-moz-placeholder {
  color: #2E2AA1;
}

/* Internet Explorer 10 */
input:-ms-input-placeholder {
  color: #2E2AA1;
}
input:focus:-ms-input-placeholder {
  color: #2E2AA1;
}


.ven-job-list .userName {
  display: block;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 90%;
  color: #333;
  font-weight: bold;
}
.ven-job-list  .variable {
  display: block;
  font-weight: normal;
  margin: 0;
  font-size: 14px;
}

.avatar {
  position: absolute;
  top: 10px;
  left: 10px;
  max-width: 80px;
  max-height: 80px;
  border-width: 20px;
  border-radius: 5px;
  background-color: #2E2AA1;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  padding: 15px 10px 10px 10px;
}

.avatarLg {
  max-width: 130px;
  max-height: 130px;
  border-width: 20px;
  border-radius: 10%;
  background-color: #2E2AA1;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  padding: 5px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.avatarLg > img {
  max-width: 75px;
}

.alertSucess {
  background-color: rgba(79, 211, 44, 0.9);
  padding: 10px;
  color: #fff !important;
  border-radius: 3px;
  border: 1px solid #4fd32c;
}

.alertWarning {
  background-color: rgba(241, 176, 21, 0.9);
  padding: 10px;
  color: #fff !important;
  border-radius: 3px;
  border: 1px solid #f1b015;
}


form i.icon.error {
  color: #ef4e3a;
}

form input + i.icon.error {
  display: none;
  margin-left: 5px;
}

form.ng-submitted input.ng-invalid + i.icon.error {
  display: block;
  padding-right: 5px;
}

form .has-error {
  border-left: 5px solid #cc2511; }

form .has-success {
  border-left: 5px solid #3d8b3d; }

form.ng-submitted input.ng-valid + i.icon.error {
  display: none; }
